/* Work sans font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&family=PT+Serif&family=Poppins:wght@800&family=Space+Mono:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 1.25rem 1.6rem;
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    border: 0;
}

/* Header's styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

ul>li {
    list-style: none;
    margin-right: 30px;
}

ul>li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

/* Banner area's styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
}

.banner img {
    width: 100%;
}

/* Main area's styles */
main {
    max-width: 1440px;
    margin: 0 3rem 0 6rem;
}

.team-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.team-content-title {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.name-highlight {
    color: #FF900E;
    font-weight: 700;
}

.name-dark {
    color: #131313;
    font-weight: 700;
}

.team-content-description {
    color: #727272;
    font-weight: 400;
}

/* some features area's styles */
.features {
    display: flex;
    gap: 2rem;
}

.features-content-title {
    border-left: 3px solid #FF900E;
    padding-left: 20px;
}

.features-content-item {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    margin: 1.8rem 1rem;
}

.item-title {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.item-description {
    color: #727272;
    font-size: .8rem;
    font-weight: 400;
}

.features img {
    height: 90%;
}

.btn-experience {
    padding: 1.5rem 4rem;
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    border: 0;
    position: relative;
    bottom: 50px;
    left: 20px;
}

/* Facts area's styles */
.awards-facts {
    display: flex;
    justify-content: space-around;
}

.fact-issue {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 3rem;
    text-align: center;
}

.sponsors {
    margin-top: 5rem;
}

.sponsor-icons img {
    filter: grayscale(100%);
}

.sponsor-content {
    text-align: center;
}

.sponsor-icons {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
}

footer {
    border-radius: 8px;
    background: #FFF4E7;
    padding: 2rem 0;
    margin: 5rem;
}

footer p {
    text-align: center;
}


/* Responsive with media-query */
/* Small devices responsive */
@media screen and (max-width: 576px) {
    header {
        padding: 1.8rem;
    }

    nav {
        flex-direction: column;
    }

    main {
        margin: 0;
    }

    .team-container {
        flex-direction: column;
        flex-direction: column-reverse;
        margin: 0 1rem;
    }

    .team-img-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }


    .some-facts {
        padding: 0 2rem;
    }

    .awards-facts {
        flex-direction: column;
        gap: 1.25rem;
    }

    .features {
        flex-direction: column;
        margin: 2rem;
    }

    .features img {
        height: 100%;
        width: 100%;
    }

    .sponsor-icons {
        flex-direction: column;
        gap: 2rem;
    }

    .sponsor-icons img {
        width: 100%;
    }

    footer {
        width: 100%;
        margin: 0 auto;
    }
}

/* Medium Devices responsive with media query */

@media screen and (min-width:576px) and (max-width:996px) {
    header {
        padding: 20px;
    }

    nav,
    .sponsor-icons {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column;
        flex-direction: column-reverse;
        margin: 0 1rem;
    }

    .features {
        flex-direction: column;
    }

    .features img {
        height: 100%;
        width: 100%;
    }

    .awards-facts {
        flex-direction: column;
        margin: 0 2rem;
        gap: 2rem;
    }

    .sponsor-icons {
        gap: 2rem;
    }

}