/* Work sans font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&family=PT+Serif&family=Poppins:wght@800&family=Space+Mono:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}